<h1> Welcome to the Road Trip Website </h1>

<ul>
<li><%= link_to "Weather", weather_path %></li><br>
<li><%= link_to "Roads", roads_path %></li><br>
<li><%= link_to "Cams", cams_path %></li><br>
<li><%= link_to "Output", output_path %><br>
</ul>