<link rel="stylesheet" type="text/css" href="Users\Stephen\Road_Trip|road_trip_website\app\views\pages\output.html.erb">

<style type="text/css">

.base_div{
	opacity:0.8;
	background-color:#ccc;
	position:relative;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:1000;
	overflow: scroll;
	
}

.forcast_div{
	width: 900px;
	height: 500px;
	border: 2px solid black;
	resize: both;
	text-align: center;
}

.day_forcast_div{
	width:150px;
	height:350px;
	float:left;
	background:white;
	border: 2px solid black;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
	resize: both;
	display: inline-block;
}

.roads{
	width: 900px;
	resize: both;
	border: 2px solid black;
}

.high{
	color: #D13;
}

.low{
	color: #1E2;
}

</style>


<div id='base_div' class='base_div'>

  <div id='forcast_div' class='forcast_div'>
  	<h1 align="center">Four Day Weather Outlook</h1>

  	<% (0..7).each do |day| %>
    <div id='day<% day %>_forcast_div' class='day_forcast_div'>
      <span class='high'><%= session[:weather][:highs][day] %></span>
      <span class='low'><%= session[:weather][:lows][day] %></span>  
      <%= image_tag(session[:weather][:icons][day*4], alt: "Weather Image") %>
    </div>
    <% end %>

  </div>
  <div id='roads' class='roads'>
  	<h1 align="center">Roads</h1>
  </div>

</div>