weather input here!
<ul>
<% session[:weather][:highs].each do |temp| %>
  <li><%= temp %></li>
<% end %>
</ul>
<pre>
<%= JSON.pretty_generate(@data).html_safe %>
</pre>
<hr>
<pre>
<%= JSON.pretty_generate(@geo).html_safe %>
</pre>